<div class="card mb-3 shadow opinion-panel">
  <div class="card-header">
    Parere
  </div>
  <div class="card-body">

    <% if @opinion_auth[:create_req_opinion] || @opinion_auth[:show_req_opinion] %>
      <%= render "request_opinions/req_op" %>
    <% end %>

    <% if @opinion_auth[:express_opinion] || @opinion_auth[:asked_for_opinion] %>
      <div class="row border-bottom mb-3 pb-3">
        <div class="col-md-12">

          <div id="asked_for_opinion_notice">
            <%= render 'opinions/asked_for_opinion', invitation: @invitation, asked_for_opinion: @opinion_auth[:asked_for_opinion], opinion: @opinion %>
          </div>

          <p class="title">Il tuo parere</p>
          <%= form_with(model: @opinion) do |form| %>
            <%= form.hidden_field :invitation_id %>
            <div class="form-row">
              <div class="col">
                <%= form.collection_select :selection, Opinion.choices, :first, ->(e){ t("opinion.#{e.first}") }, {prompt: true}, class: "form-control"  %>
              </div>
              <div class="col-auto">
                <%= form.submit "Salva", class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>


    <% if @opinion_auth[:show_opinion] && @other_opinions.any? %>
      <div class="row border-bottom mb-3 pb-3">
        <div class="col-md-12">
          <p class="title">Pareri di altri</p>
          <ul class="other-opinions">
            <% @other_opinions.each do |op| %>
            <li>
              <strong><%= op.user.display_name %></strong>
              <% if (names = @invitation.request_opinions.map(&:groups).flatten.uniq.keep_if{|gr| gr.users.include?(op.user)}.map(&:name)).any? %>
                (<%= names.join(',') %>):
              <% else %>
                :
              <% end %>
              <em><%= t op.selection, scope: :opinion %></em>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>


    <% if @opinion_auth[:show_comment] %>
      <div class="row">
        <div class="col-md-12">
          <p class="title">Commenti</p>
          <div class="panel-chat">
            <ul class="chat">
              <% @comments.each do |comment| %>
                <%= render 'chat_comment', comment: comment %>
              <% end %>
            </ul>

            <% if @opinion_auth[:create_comment] %>
              <%= form_with(model: @comment) do |form| %>
                <%= form.hidden_field :invitation_id %>
                <div class="form-group">
                  <%= form.label :content, "Aggiungi un commento:" %>
                  <%= form.text_area :content, class: "form-control"  %>
                </div>

                <div class="actions">
                  <%= form.submit "Invia", class: "btn btn-primary" %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
