<div class="row">
  <div class="col-md-12">
    <div class="form-group form-check">
      <%= form.check_box :in_use, disabled: ro, class: "form-check-input" %>
      <%= form.label :name, "In uso", class: "form-check-label" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= form.label :name, "Nome del gruppo" %>
      <%= form.text_field :name, class: "form-control", readonly: ro, autocomplete: 'off' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= form.label 'user_ids', "Utenti" %>
      <%= form.collection_select 'user_ids', group_users, :first, :last, {}, class: "form-control js-example-basic-multiple", multiple: 'multiple'  %>
    </div>
  </div>
</div>
