<%= form_with(model: group, local: true) do |form| %>
  <%= render 'layouts/error_message', model: group %>

  <%= render 'fields', group: group, form: form, ro: false %>

  <div class="actions space-top">
    <%= form.submit "Salva", class: "btn btn-primary" %>
    <% if policy(Group).index? %><%= link_to 'Annulla', groups_path, class: "btn btn-default" %><% end %>
    <% if @group.persisted? && policy(@group).show? %>
      <%= link_to 'Dettaglio', @group, class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>
