<div class="row">
  <div class="col-sm">
    <h1 class="display-5">Lista gruppi</h1>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered table-sm record-list invitation-table" id="groupsDataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Parere</th>
            <th>Incaricab.</th>
            <th>Utenti</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% @groups.each do |group| %>
            <tr class="click-to-show" data-url="<%= policy(group).show? ? group_path(group) : '#' %>">
              <td class="py-2"><%= group.name %></td>
              <td class="py-2"><%= checked group.ask_opinion %></td>
              <td class="py-2"><%= checked group.appointable %></td>
              <td class="py-2"><%= group.users.map(&:display_name).join(', ').truncate(80) %></td>
              <td class='py-1 action-buttons'>
                <div class="float-right">
                  <% if policy(group).edit? %><%= link_to edit_group_path(group), class: "btn btn-outline-dark btn-sm" do %>
                    <%= fa_icon("edit") %>
                  <% end %><% end %>
                  <% if policy(group).destroy? %><%= link_to group, method: :delete, data: { confirm: "Confermi l'eliminazione?" }, class: "btn btn-outline-danger btn-sm" do %>
                    <%= fa_icon("trash-alt") %>
                  <% end %><% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <div class="row margin-bottom-20">
      <div class="col">
        <% if policy(Group).new? %><%= link_to 'Nuovo gruppo', new_group_path, class: "btn btn-primary" %><% end %>
      </div>
    </div>
  </div>
</div>
