<div class="row">
  <div class="col-sm">
    <h1 class="display-5">Dettaglio gruppo</h1>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="row crud-links-top">
      <div class="col">
        <% if policy(Group).index? %><%= link_to_list groups_path %><% end %>
        <% if policy(@group).edit? %><%= link_to_edit edit_group_path(@group) %><% end %>
        <% if policy(@group).new? %><%= link_to_new new_group_path %><% end %>
      </div>
    </div>

    <%= form_with(model: @group, local: true) do |form| %>
      <%= render 'fields', group: @group, form: form, ro: true %>
    <% end %>

    <div class="row crud-links-bottom">
      <div class="col">
        <% if policy(Group).index? %><%= link_to_list groups_path %><% end %>
        <% if policy(@group).edit? %><%= link_to_edit edit_group_path(@group) %><% end %>
        <% if policy(@group).new? %><%= link_to_new new_group_path %><% end %>
      </div>
    </div>
  </div>
</div>
