<div class="row">
  <div class="col">
    <div class="checkbox">
      <label>
        <%= form.check_box :appointeeable, disabled: ro %>
        <%= " Incaricabile" %>
      </label>
    </div>
  </div>
  <div class="col">
  </div>
</div>

<div class="row">
  <div class="col-md-1">
    <div class="form-group">
      <%= form.label :initials, "Iniziali" %>
      <%= form.text_field :initials, class: "form-control", readonly: ro %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= form.label :job_title, "Titolo" %>
      <%= form.text_field :job_title, class: "form-control", readonly: ro %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= form.label :display_name, "Nome e cognome" %>
      <%= form.text_field :display_name, class: "form-control", readonly: ro %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= form.label :username, "Indirizzo email" %>
      <div class="input-group mb-3">
        <%= form.text_field :username, class: "form-control", readonly: ro %>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">@arera.it</span>
        </div>
      </div>
    </div>
  </div>
  <% if policy(@user).change_role? %>
    <div class="col-md-3">
      <div class="form-group">
        <%= form.label :role, "Ruolo" %>
        <%= form.collection_select :role, User.roles, :first, ->(e){ t("roles.#{e.first}") }, { prompt: true }, class: "form-control", disabled: ro  %>
      </div>
    </div>
  <% end %>
</div>

<% if ro %>
  <div class="row">
    <div class="col-md-6">
      <label for="created_at">Creazione</label>
      <span class="form-control">
        <%= livestamp @user.created_at %>
        <span class="long-format-dt"> // <%= l @user.created_at, format: :long %></span>
      </span>
    </div>
    <div class="col-md-6">
      <label for="created_at">Ultima modifica</label>
      <span class="form-control">
        <%= livestamp @user.updated_at %>
        <span class="long-format-dt"> // <%= l @user.updated_at, format: :long %></span>
      </span>
    </div>
  </div>
<% end %>
