<div class="row">
  <div class="col-md-2">
    <div class="form-group">
      <%= form.label :initials, "Iniziali" %>
      <%= form.text_field :initials, class: "form-control", readonly: ro %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :job_title, "Titolo" %>
      <%= form.text_field :job_title, class: "form-control", readonly: ro %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :display_name, "Nome e cognome" %>
      <%= form.text_field :display_name, class: "form-control", readonly: ro %>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :username, "Username" %>
      <%= form.text_field :username, class: "form-control", readonly: ro %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <%= form.label :email, "Indirizzo email" %>
      <%= form.text_field :email, class: "form-control", readonly: ro %>
    </div>
  </div>

  <div class="col-md-4">
    <% if policy(@user).update_sensitive_attributes? %>
      <div class="form-group">
        <%= form.label :role_id, "Ruolo" %>
        <%= form.collection_select :role_id, Role.list, :id, :name, { prompt: true }, class: "form-control", disabled: ro  %>
      </div>
    <% end %>
  </div>

  <% if false %>
    <div class="col-md-4">
      <% if policy(@user).update_sensitive_attributes? %>
        <div class="form-group">
          <%= form.label :advisor_group, "Esprime parere per conto di" %>
          <%= form.collection_select :advisor_group, User.advisor_groups, :first, ->(e){ t("advisor_group.#{e.first}") }, { prompt: true }, class: "form-control", disabled: ro  %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-check form-check-inline">
      <%= form.radio_button "gender", "male", class: "form-check-input", disabled: ro %>
      <%= form.label "gender_male", "Maschio", class: "form-check-label" %>
    </div>
    <div class="form-check form-check-inline">
      <%= form.radio_button "gender", "female", class: "form-check-input", disabled: ro %>
      <%= form.label "gender_female", "Femmina", class: "form-check-label" %>
    </div>
  </div>
</div>


<% if ro %>
  <div class="row mt-3">
    <div class="col-md-6">
      <label for="created_at">Creazione</label>
      <span class="form-control">
        <%= livestamp @user.created_at %>
        <span class="long-format-dt"> // <%= l @user.created_at, format: :long %></span>
      </span>
    </div>
    <div class="col-md-6">
      <label for="created_at">Ultima modifica</label>
      <span class="form-control">
        <%= livestamp @user.updated_at %>
        <span class="long-format-dt"> // <%= l @user.updated_at, format: :long %></span>
      </span>
    </div>
  </div>
<% end %>
