<%= form_with(model: user, local: true) do |form| %>
  <%= render 'layouts/error_message', model: user %>

  <%= render 'fields', user: user, form: form, ro: false %>

  <div class="actions space-top">
    <%= form.submit "Salva", class: "btn btn-primary" %>
    <% if policy(User).index? %><%= link_to 'Annulla', users_path, class: "btn btn-default" %><% end %>
    <% if @user.persisted? && policy(@user).show? %>
      <%= link_to 'Dettaglio', @user, class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>
