<div class="row">
  <div class="col-sm">
    <h1 class="display-5">Lista utenti</h1>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered table-sm record-list invitation-table" id="usersDataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Iniziali</th>
            <th>Titolo</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ruolo</th>
            <th>Parere</th>
            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr class="click-to-show" data-url="<%= policy(user).show? ? user_path(user) : '#' %>">
              <td class="py-2"><%= user.initials %></td>
              <td class="py-2"><%= user.job_title %></td>
              <td class="py-2"><%= user.display_name %></td>
              <td class="py-2"><%= user.email %></td>
              <td class="py-2"><%= user.role&.name %></td>
              <td class="py-2"><%= user.groups.select{|e| e.ask_opinion }.map(&:name).join(', ') %></td>
              <td class='py-1 action-buttons'>
                <div class="float-right">
                  <% if policy(user).edit? %><%= link_to edit_user_path(user), class: "btn btn-outline-dark btn-sm" do %>
                    <%= fa_icon("edit") %>
                  <% end %><% end %>
                  <% if policy(user).destroy? %><%= link_to user, method: :delete, data: { confirm: "Confermi l'eliminazione?" }, class: "btn btn-outline-danger btn-sm" do %>
                    <%= fa_icon("trash-alt") %>
                  <% end %><% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

    <div class="row margin-bottom-20">
      <div class="col">
        <% if policy(User).new? %><%= link_to 'Nuovo utente', new_user_path, class: "btn btn-primary" %> <% end %>
      </div>
    </div>
  </div>
</div>
