<div class="row crud-links-top">
  <div class="col">
    <%= link_to_list users_path %>
    <%= link_to_edit edit_user_path(@user) %>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <h2 class="display-4">Dettaglio utente</h2>
  </div>
</div>

<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'fields', user: @user, form: form, ro: true %>
<% end %>

<div class="row crud-links-bottom">
  <div class="col">
    <%= link_to_list users_path %>
    <%= link_to_edit edit_user_path(@user) %>
  </div>
</div>
