<div class="row">
  <div class="col-sm">
    <h1 class="display-5">Dettaglio utente</h1>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="row crud-links-top">
      <div class="col">
        <% if policy(User).index? %><%= link_to_list users_path %><% end %>
        <% if policy(@user).edit? %><%= link_to_edit edit_user_path(@user) %><% end %>
        <% if policy(@user).new? %><%= link_to_new new_user_path  %><% end %>
      </div>
    </div>

    <%= form_with(model: @user, local: true) do |form| %>
      <%= render 'fields', user: @user, form: form, ro: true %>
    <% end %>

    <div class="row crud-links-bottom">
      <div class="col">
        <% if policy(User).index? %><%= link_to_list users_path %><% end %>
        <% if policy(@user).edit? %><%= link_to_edit edit_user_path(@user) %><% end %>
        <% if policy(@user).new? %><%= link_to_new new_user_path  %><% end %>
      </div>
    </div>
  </div>
</div>

<% if policy(UserInteraction).index? %>
  <%= render 'user_interactions/table', user_interactions: @user.interactions.limit(50) %>
<% end %>
