<h1 class="mb-5">Dashboard</h1>

<%= render 'rejections/rejected' %>

<div class="row dashboard-cards">
  <div class="col-3">
    <div class="card mb-4 py-3 border-left-primary" data-url="<%= invitations_path(sel: :to_be_filled) %>">
      <div class="card-body">
        <h4>Da compilare</h4>
        <p class="number"><%= policy_scope(Invitation).no_info.count %></p>
        <p class="description">Raccoglie tutti gli inviti, tipicamente nuovi, che necessitano l'inserimento di informazioni generali</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-4 py-3 border-left-primary" data-url="<%= invitations_path(sel: :to_be_assigned) %>">
      <div class="card-body">
        <h4>Da assegnare</h4>
        <p class="number"><%= policy_scope(Invitation).to_be_assigned.count %></p>
        <p class="description">Raccoglie tutti gli inviti per i quali non è stato ancora decisa la partecipazione o non è stato assegnato una persona incaricata</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-4 py-3 border-left-primary" data-url="<%= invitations_path(sel: :to_be_assigned) %>">
      <div class="card-body">
        <h4>In assegnazione</h4>
        <p class="number"><%= policy_scope(Invitation).waitin.count %></p>
        <p class="description">Raccoglie tutti gli inviti accettati ai quali sono stati assegnati una o più persone incaricate e sono in attesa di conferma</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-4 py-3 border-left-primary" data-url="<%= invitations_path(sel: :running) %>">
      <div class="card-body">
        <h4>Pronti</h4>
        <p class="number"><%= policy_scope(Invitation).are_assigned.count %></p>
        <p class="description">Raccoglie tutti gli inviti accettati, per i quali è stata incaricata una o più persone e che devono ancora avere luogo</p>
      </div>
    </div>
  </div>
</div>

<h2 class="mt-5">Statistiche</h2>

<h3 class="mt-3">Conteggi per decisione presa</h3>
<div class="row" style="position: relative; height: 80vh/500px/whatever">
  <canvas id="inviti-decision-chart"></canvas>
</div>

<h3 class="mt-5">Conteggi per persona incaricata</h3>
<div class="row" style="position: relative; height: 80vh/500px/whatever">
  <canvas id="inviti-appointee-chart"></canvas>
</div>

<p class="mt-5">&nbsp;</p>
