<div class="card mb-3 shadow" id="appointee_panel">
  <div class="card-header">
    Incarico
  </div>
  <div class="card-body">
    <%= appointee_disabled_fields_message @invitation %>

    <%= form_with(model: @invitation, url: appointee_path, class: 'appointee-choice', html: { autocomplete: :off }) do |form| %>
      <%= hidden_field_tag :id, @invitation.id %>
      <div class="form-group">
        <%= form.label :decision, "Partecipa qualcuno?" %>
        <%= form.collection_select :decision, Invitation.decisions, :first, ->(e){ t("decision.#{e.first}") }, { }, class: "form-control", disabled: read_only  %>
      </div>

      <div class="who-participates">
        <p style="font-size: 0.90em;">
          <%= "Seleziona di seguito il partecipante oppure " %>
          <%= link_to "invia una proposta di partecipazione a tutti i membri del Collegio", proposal_to_all_board_members_path(id: @invitation.id), method: :patch, remote: true %>
        </p>

        <div class="form-group">
          <%= form.label :alt_appointee_name, "Partecipante" %>
          <%= form.autocomplete_field :user_display_name, autocomplete_user_display_name_invitations_path, class: "form-control", readonly: read_only %>
        </div>

        <div class="form-check">
          <%= check_box_tag 'invitation[send_email]', '1', true %>
          <%= label_tag 'invitation[send_email]', "Richiedi conferma tramite e-mail" %>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :delegation_notes, "Osservazioni" %>
        <%= form.text_area :delegation_notes, rows: 4, class: "form-control", readonly: read_only %>
      </div>

      <div id="assignment-steps">
        <%= render 'assignment_steps' %>
      </div>

      <%= hidden_field_tag :submit_feedback, 'text-after-submit-appointee-panel' %>
      <%= form.submit "Salva", class: "btn btn-primary pull-right", disabled: read_only %>
      <span class="ajax-submit-feedback" id="text-after-submit-appointee-panel"></span>

    <% end %>
  </div>
</div>
