<table class="table table-sm table-striped" style="font-size: 0.85em;">
  <thead class="thead-light">
    <tr>
      <th>Utente</th>
      <th>Azione</th>
      <th>Attributi</th>
      <th>Data e ora</th>
    </tr>
  </thead>
  <tbody>
    <% @invitation.own_and_associated_audits.includes(:user).each do |a| %>
      <tr>
        <td><span data-toggle="tooltip" title="<%= a.user.try(:display_name) %>"><%= a.user.try(:username) %></span></td>
        <td><%= audit_model_action a %></td>
        <td><%= audit_changes a.auditable_type, a.audited_changes %></td>
        <td><%= l(a.created_at, format: :short) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
