<li>
  <div class="row">
    <% if current_user==comment.user %>

      <div class="col-md-auto">
        <%= show_avatar(comment.user, size: 50) %>
      </div>
      <div class="col">
        <div class="row mb-2">
          <div class="col">
            <strong><%= comment.user.display_name %></strong>
          </div>
          <div class="col">
            <small class="float-right"><%= livestamp comment.updated_at %></small>
          </div>
        </div>
        <div class="body">
          <%= comment.content %>
        </div>
      </div>


    <% else %>
      <div class="col">
        <div class="row mb-2">
          <div class="col">
            <small><%= livestamp comment.updated_at %></small>
          </div>
          <div class="col">
            <strong class="float-right"><%= comment.user.display_name %></strong>
          </div>
        </div>
        <div class="body text-right">
          <%= comment.content %>
        </div>
      </div>
      <div class="col-md-auto avatar">
        <%= show_avatar(comment.user, size: 50) %>
      </div>
    <% end %>
  </div>
</li>
