<div class="card inv-card mb-3" data-url="<%= invitation_path(inv) %>" data-id="<%= inv.id %>">
  <% if policy(inv).destroy? %>
    <div class="archive-btn">
      <%= fa_icon("times-circle", style: :solid, options: "fa-7x") %>
    </div>
  <% end %>

  <div class="card-header">
    <span class="location"><%= location_icon inv.location %></span>
    <span class="datetime float-right"><%= calendar_icon inv.from_date_and_time %></span>
    <% if !@read_ids.include?(inv.id) %>
      <div class="niu">Nuovo</div>
    <% end %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-9 inv-infos">
        <% if !inv.title.blank? %>
          <p class="title"><%= inv.title %></p>
        <% else %>
          <p class="alt-title"><%= inv.email_subject %></p>
        <% end %>
        <p class="organizer"><%= inv.organizer %></p>
      </div>
      <div class="col-3">
        <%= user_circle(inv.appointee || inv.alt_appointee_name) %>
      </div>
    </div>

    <div class="email">
      <dl class="row">
        <dt class="col-sm-3 text-right">data</dt><dd class="col-sm-9"><%= formatta_dataora inv.email_received_date_time %></dd>
        <dt class="col-sm-3 text-right">mittente</dt><dd class="col-sm-9"><%= inv.email_from_name %></dd>
        <dt class="col-sm-3 text-right">oggetto</dt><dd class="col-sm-9"><strong><%= inv.email_subject %></strong></dd>
        <dt class="col-sm-3 text-right">allegati</dt>
        <dd class="col-sm-9">
          <% if inv.files.size==1 %>
            <%= inv.files[0].filename %>
          <% elsif inv.files.size==2 %>
            <%= "#{inv.files[0].filename} e un altro" %>
          <% elsif inv.files.size>1 %>
            <%= "#{inv.files[0].filename} e altri #{inv.files.size-1}" %>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>

  <div class="card-footer status-icons">
    <% if policy(inv).view_opinion? %>
      <%= icon_for_opinion(inv.opinion) %>
      <%= icon_for_comments(inv.comments) %>
    <% end %>
    <%= icon_for_contributions(inv.contributions) %>
  </div>
  <%= ribbon(inv) %>

  <!-- ribbon(inv, new_invitation: !@read_ids.include?(inv.id)) -->
</div>
