<ul class="list-group inv-card" data-url="<%= invitation_path(inv) %>">
  <li class="list-group-item header">
    <span class="location"><%= inv.location! %></span>
    <span class="date"><%= formatta_data(inv.date_and_time)  %></span>
  </li>
  <li class="list-group-item body">
    <div class="email">
      <dl class="dl-horizontal">
        <dt>data</dt><dd><%= formatta_dataora inv.email_received_date_time %></dd>
        <dt>mittente</dt><dd><%= inv.email_from_name %></dd>
        <dt>oggetto</dt><dd><strong><%= inv.email_subject %></strong></dd>
        <dt>allegati</dt>
        <dd>
          <% if inv.files.size==1 %>
            <%= inv.files[0].filename %>
          <% elsif inv.files.size>1 %>
            <%= " e altri #{inv.files.size-1}" %>
          <% end %>
        </dd>
      </dl>
    </div>

  </li>
  <li class="list-group-item footer">
    <i class="fas fa-thumbs-up fa-fw"></i>
    <i class="fas fa-comment fa-fw"></i>
  </li>
</ul>
