<div class="invitation card shadow inv-card mb-3" data-url="<%= policy(inv).show? ? invitation_path(inv) : '' %>" data-id="<%= inv.id %>">

  <div class="card-header">
    <span class="location"><%= location_icon inv.location %></span>
    <span class="datetime float-right"><%= calendar_icon inv.from_date_and_time %></span>
    <% noc = inv.new_or_changed?(current_user, hash: @seen_invitations) %>
    <% if noc==:new %>
      <div class="niu">Nuovo</div>
    <% elsif noc==:changed %>
      <div class="niu">Modificato</div>
    <% end %>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col inv-infos">
        <% if !inv.title.blank? %>
          <p class="title"><%= inv.title %></p>
        <% else %>
          <p class="alt-title"><%= inv.email_subject %></p>
        <% end %>
        <p class="organizer"><%= inv.organizer %></p>
      </div>
      <div class="col-sx-auto">
        <div class="avatar-container">
          <%= avatars inv.appointees.waiting_n_accepted %>
        </div>
      </div>
    </div>

    <div class="email">
      <dl class="row">
        <dt class="col-sm-3">data</dt><dd class="col-sm-9"><%= formatta_dataora inv.email_received_date_time %></dd>
        <dt class="col-sm-3">mittente</dt><dd class="col-sm-9"><%= inv.email_from_name %></dd>
        <dt class="col-sm-3">oggetto</dt><dd class="col-sm-9"><strong><%= inv.email_subject %></strong></dd>
        <dt class="col-sm-3">allegati</dt>
        <dd class="col-sm-9">
          <% if inv.files.size==1 %>
            <%= inv.files[0].filename %>
          <% elsif inv.files.size==2 %>
            <%= "#{inv.files[0].filename} e un altro" %>
          <% elsif inv.files.size>1 %>
            <%= "#{inv.files[0].filename} e altri #{inv.files.size-1}" %>
          <% end %>
        </dd>
      </dl>
    </div>

    <% if policy(inv).destroy? %>
      <div class="archive-btn">
        <%= fa_icon("trash-alt", style: :solid, options: "fa-2x") %>
      </div>
    <% end %>

  </div>

  <div class="card-footer status-icons">
    <% if policy(inv).view_opinion? %>
      <%= icon_for_opinions(inv.opinions) %>
      <%= icon_for_comments(inv.comments) %>
    <% end %>
    <%= icon_for_contributions(inv.contributions) %>
  </div>
  <%= ribbon(inv) %>
  <!-- ribbon(inv) -->

  <!-- ribbon(inv, new_invitation: !@read_ids.include?(inv.id)) -->
</div>
