
<div class="card shadow mb-4">
  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered table-sm record-list invitation-table" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Quando</th>
            <th>when</th>
            <th>email-body</th>
            <th>Dove</th>
            <th>Titolo</th>
            <th>Organizzazione</th>
            <th>Incaricato</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>&nbsp;</th>
            <th>Quando</th>
            <th>when</th>
            <th>email-body</th>
            <th>Dove</th>
            <th>Titolo</th>
            <th>Organizzazione</th>
            <th>Incaricato</th>
            <th>&nbsp;</th>
          </tr>
        </tfoot>
        <tbody>
          <% invitations.each do |inv| %>
            <tr class="clickable <%= @read_ids.include?(inv.id) ? '' : 'font-weight-bold' %>" data-url="<%= invitation_path(inv) %>">
              <td><%= status_badge(inv) %> <%= new_invitation_badge @read_ids.include?(inv.id) %></td>
              <td><span class="datetime"><%= formatta_dataora inv.from_date_and_time, "" %></span></td>
              <td> <%= inv.from_date_and_time.to_i %> </td>
              <td> <%= inv.email_body.html_safe %> </td>
              <td><%= inv.location %></td>
              <td>
                <% if !inv.title.blank? %>
                  <span class="title"><%= inv.title %></span>
                <% else %>
                  <span class="alt-title"><%= inv.email_subject %></span>
                <% end %>
              </td>
              <td><%= inv.organizer %></td>
              <td><%= inv.appointee.try(:display_name) || inv.alt_appointee_name %></td>
              <td class="status-icons float-right">
                <% if policy(inv).view_opinion? %>
                  <%= icon_for_opinions(inv.opinions) %>
                  <%= icon_for_comments(inv.comments) %>
                <% end %>
                <%= icon_for_contributions(inv.contributions) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
