<div class="card mb-3">
  <div class="card-header">
    Parere
  </div>
  <div class="card-body">
    <%= form_with(model: @opinion, class: 'form-inline opinion-choice') do |form| %>
      <div class="form-group">
        <%= form.collection_select :selection, Opinion.choices, :first, ->(e){ t("opinion.#{e.first}") }, {prompt: true}, class: "form-control"  %>
      </div>
      <%= form.submit "Salva", class: "btn btn-primary ml-3" %>
    <% end %>

    <div class="panel-chat">
      <ul class="chat">
        <% @comments.each do |comment| %>
          <%= render 'chat_comment', comment: comment %>
        <% end %>
      </ul>

      <%= form_with(model: @comment) do |form| %>
        <%= form.hidden_field :invitation_id %>
        <div class="form-group">
          <%= form.label :content, "Commento" %>
          <%= form.text_area :content, class: "form-control"  %>
        </div>

        <div class="actions">
          <%= form.submit "Invia", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
