<div class="row">
  <div class="col-sm">
    <h1 class="display-5"><%= "Lista inviti #{@sel_string}" %></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <p><%= "Trovati: #{@invitations.total_count} inviti" %></p>
  </div>
</div>

<div class="row mb-4 d-print-none">
  <div class="col">
    <div class="btn-group btn-group-toggle vis-mode" data-toggle="buttons">
      <label class="btn btn-secondary  vis-mode-selector <%= @vis_mode=='cards' ? 'active' : '' %>">
        <%= radio_button_tag :vis_mode, :cards %> <i class="fas fa-window-maximize"></i>
      </label>
      <label class="btn btn-secondary vis-mode-selector <%= @vis_mode=='list' ? 'active' : '' %>">
        <%= radio_button_tag :vis_mode, :list %><i class="fas fa-list"></i>
      </label>
      <label class="btn btn-secondary vis-mode-selector <%= @vis_mode=='calendar' ? 'active' : '' %>">
        <%= radio_button_tag :vis_mode, :calendar %><i class="fas fa-calendar-alt"></i>
      </label>
    </div>
  </div>
</div>

<%= render @vis_mode, invitations: @invitations %>
<%= render 'confirm_archive_modal' %>
