<div class="row">
  <div class="col-sm mb-4">
    <h1 class="display-5">Dettaglio invito</h1>
  </div>
</div>

<div class="row mb-3">
  <%= link_to :back, class: "btn btn-link" do %>
    <%= content_tag(:i, "", class: "fas fa-list fa-fw") + " Indietro" %>
  <% end %>
</div>

<div class="row">
  <div class="col-lg-6">
    <% if policy(:invitation).view_opinion? %>
      <%= render 'opinions/panel' %>
    <% end %>
    <% if policy(:invitation).view_appointee? %>
      <%= render 'appointee_panel', read_only: !policy(@invitation).update_appointee? || @invitation.no_info? %>
    <% end %>
    <% if policy(:invitation).view_contributions? %>
      <%= render 'contributions/panel' %>
    <% end %>
  </div>

  <div class="col-lg-6">
    <% if policy(:invitation).view_general_info? %>
      <%= render 'general_info_panel', read_only: !policy(@invitation).update_general_info? %>
    <% end %>
    <% if policy(:invitation).view_email_info? %>
      <%= render 'email_info_panel' %>
    <% end %>
    <% if policy(:invitation).show_audit? %>
      <%= render 'show_audit' %>
    <% end %>

  </div>
</div>


<div class="row">
  <%= link_to :back, class: "btn btn-link" do %>
    <%= content_tag(:i, "", class: "fas fa-list fa-fw") + " Indietro" %>
  <% end %>
</div>
