<div class="row">
  <div class="col-sm mb-4">
    <h1 class="display-5">Dettaglio invito</h1>
  </div>
</div>

<%= render 'back_and_history_links' %>

<div class="row">
  <div class="col-lg-6">
    <% if @opinion_auth.values.any? %>
      <%= render 'opinions/panel' %>
    <% end %>
    <% if policy(@invitation).view_appointee? %>
      <%= render 'appointees/panel', read_only: @invitation.no_info? || @invitation.past?  %>
    <% end %>
    <% if @contributions.any? || policy(@contribution).create? %>
      <%= render 'contributions/panel' %>
    <% end %>
  </div>

  <div class="col-lg-6">
    <%= render 'general_info_panel', read_only: !policy(@invitation).update? %>
    <% if policy(@invitation).view_email_info? %>
      <%= render 'email_info_panel' %>
    <% end %>
    <% if policy(@invitation).audits? %>
      <%= render 'show_audit' %>
    <% end %>
  </div>
</div>

<%= render 'back_and_history_links' %>
