<div class="card mb-3 contribution-panel shadow">
  <div class="card-header">
    Contributi
  </div>
  <div class="card-body">
    <div class="contributions">
      <% @contributions.each do |c| %>
        <% if c.id %>
          <%= render 'contributions/contribution', c: c %>
        <% end %>
      <% end %>
    </div>

    <% if policy(@contribution).create? %>
      <h4>Aggiungi nuovo contributo</h4>
      <%= form_with(model: @contribution, class: 'contrib-form', html: { autocomplete: :off }) do |form| %>
        <%= form.hidden_field :invitation_id %>

        <div class="form-group">
          <%= form.label :title, "Descrizione" %>
          <%= form.text_field :title, class: "form-control"  %>
        </div>

        <div class="form-group">
          <%= form.label :contribution_files, "Allegati" %>
          <div class="custom-file">
            <input multiple="multiple" type="file" class="custom-file-input" name="contribution[contribution_files][]" id="contribution_contribution_files">
            <label class="custom-file-label" for="customFile">Seleziona i documenti...</label>
          </div>
        </div>

        <div class="form-group">
          <%= form.label :note, "Note" %>
          <%= form.text_area :note, rows: 4, class: "form-control" %>
        </div>

        <%= form.submit "Carica", class: "btn btn-primary pull-right" %>
        <span class="ajax-submit-feedback" id="text-after-submit-contribution-panel"></span>
      <% end %>
    <% end %>
  </div>
</div>
