<div class="card mb-3 contribution-panel shadow">
  <div class="card-header">
    Contributi
  </div>
  <div class="card-body">
    <div class="contributions">
      <% if @contributions.empty? %>
        <p class="text-info">Al momento non ci sono contributi.</p>
      <% else %>
        <% @contributions.each do |c| %>
          <%= render 'contributions/contribution', c: c %>
        <% end %>
      <% end %>
    </div>

    <% if policy(@contribution).create? %>
      <h4>Aggiungi nuovo contributo</h4>
      <%= form_with(model: @contribution, class: 'contrib-form', html: { autocomplete: :off }) do |form| %>
        <%= form.hidden_field :invitation_id %>

        <div class="form-group">
          <%= form.label :title, tt('contribution.title', mandatory: true) %>
          <%= form.text_field :title, class: "form-control"  %>
        </div>

        <div class="form-group custom-file mb-3">
          <%= form.file_field :contribution_files, class: "form-control custom-file-input", multiple: true  %>
          <%= form.label :contribution_files, tt('contribution.contribution_files'), class: "custom-file-label" %>
        </div>

        <div class="form-group">
          <%= form.label :note, tt('contribution.note') %>
          <%= form.text_area :note, rows: 4, class: "form-control" %>
        </div>

        <%= form.submit "Carica", class: "btn btn-primary pull-right", id: "contrib-submit-btn", disabled: true %>
      <% end %>
    <% end %>
  </div>
</div>
