<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= form.label :name, "Nome del ruolo" %>
      <%= form.text_field :name, class: "form-control", readonly: ro, autocomplete: 'off' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <%= form.label :description, "Descrizione" %>
      <%= form.text_area :description, class: "form-control", readonly: ro, autocomplete: 'off' %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">

    <div class="table-responsive">
      <table class="table table-bordered table-sm" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Description</th>
            <th>Permission</th>
          </tr>
        </thead>

        <tbody>

          <%= form.fields_for :permission_roles, @role.permission_roles.joins(:permission).order('permissions.position', 'permissions.domain', 'permissions.controller', 'permissions.action') do |f| %>
            <tr>
              <td>
                <%= f.hidden_field :permission_id %>
                <%= t(f.object.permission.domain, scope: 'permissions.domain', default: f.object.permission.domain&.humanize) %>
              </td>
              <td><%= f.object.permission.description! %></td>
              <td><%= f.check_box :permitted %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>
