<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>


  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>




    <% if ENV.fetch('user_mode'){ 'devise' }=='switchable' %>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-random fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Cambia utente corrente (funzionalità demo):</a>
          <div class="dropdown-divider"></div>
          <% User.where(id: [10,30,11,4,6,67]).order('display_name ASC').each do |user| %>
            <%= link_to user.display_name, url_for(switch_to_user: user.id), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    <% end %>





    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small current-user"><%= current_user.display_name %></span>
        <%= avatars current_user %>
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        <% if policy(current_user).topbar_full_menu? %>

          <%= link_to current_user, class: "dropdown-item" do %>
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profilo
          <% end %>

          <%= link_to users_path, class: "dropdown-item" do %>
            <i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
            Gestione utenti
          <% end %>

          <%= link_to groups_path, class: "dropdown-item" do %>
            <i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i>
            Gestione gruppi
          <% end %>

          <%= link_to user_interactions_path, class: "dropdown-item" do %>
            <i class="fas fa-eye fa-sm fa-fw mr-2 text-gray-400"></i>
            Utilizzo Web app
          <% end %>

          <%= link_to edit_project_path(Project.primo), class: "dropdown-item" do %>
            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
            Impostazioni
          <% end %>

          <a class="dropdown-item" href="#">
            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
            Activity Log
          </a>
          <div class="dropdown-divider"></div>
        <% end %>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Esci
        </a>

      </div>
    </li>

  </ul>

</nav>
<!-- End of Topbar -->
